.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 16px;
    left: 20px;
}