@use '@/shared/styles/typography';

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 24px;
}

.title {
    @include typography.h1;
}

.description {
    @include typography.text-mid;

    color: var(--color-secondary) !important;
}

.serverError {
    margin: 0;
    font-size: 14px;
    color: var(--color-invalid);
}