@use '@/shared/styles/typography';

.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    @include typography.h1;
}

.description {
    @include typography.text-mid;

    color: var(--color-secondary) !important;
}