@use './colors' as c;
@use './fonts';

:root {
  --color-text: #{c.$color-text};
  --color-text-inverse: #{c.$color-text-inverse};
  --color-secondary: #{c.$color-secondary};
  --color-accent: #{c.$color-accent};
  --color-accent-hover: #{c.$color-accent-hover};
  --color-accent-press: #{c.$color-accent-press};
  --color-disabled: #{c.$color-disabled};
  --color-invalid: #{c.$color-invalid};
  --color-stroke-subtle: #{c.$color-stroke-subtle};
  --color-stroke-muted: #{c.$color-stroke-muted};
  --color-surface-disabled: #{c.$color-surface-disabled};
  --main-font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  line-height: 1.35;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}