@use '@/shared/styles/typography';

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
}

.title {
    @include typography.h1;
}

.agreement {
    font-family: var(--main-font-family), sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: var(--color-disabled) !important;
}

.agreementLink {
    text-decoration: underline;
    color: var(--color-disabled) !important;
}