@use '@/shared/styles/typography';

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 24px;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    @include typography.h1;
}

.description {
    @include typography.text-mid;

    color: var(--color-secondary) !important;
}

.serverError {
    margin: 0;
    font-size: 14px;
    color: var(--color-invalid);
}

.success {
    margin: 0;
    font-size: 14px;
    color: var(--color-secondary);
}